<!DOCTYPE html>
<html>
<head>
    <title>Дежурства. {{ duty_type.name }}</title>
</head>
<body>
    <h3>Участники дежурства:</h3>
    <ol>
        {% for person in person_list %}
            <li> {{ person.first_name }} {{ person.last_name }} </li>
        {% endfor %}
    </ol>

    <table border="3">
        {% for person in person_list %}
            <tr bgcolor= {% if person.is_champion %} "54FF9F" {% elif person.is_looser %} "F08080" {% else %} "white" {% endif %} >
                <td>{{ person.first_name }} {{ person.last_name }}</td>
                {% for duty in person.duty_list %}
                    <td>{{ duty.date|date:"d.m.y" }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <h3>Ближайший дежурный: {{ looser.first_name }} {{ looser.last_name }}</h3>



</body>
</html>